<p id="notice"><%= notice %></p>

<p>
  <h1>
    <strong><%= @user.username %></strong>
  </h1>

  <% if !@user.ratings.empty? %>
    <i>Likes <%= @user.favourite_brewery %> and enjoys <%= @user.favorite_style %>s the most</i>
  <% end %>
</p>

<o>
  <% if @user.beer_clubs.empty? %>
      <% if @user == current_user %>
          You haven't joined any club yet!
      <% else %>
          <%= @user.username %> hasn't joined any club yet!
      <% end %>
  <% else %>
      Member of:
        <% @user.beer_clubs.each do |club| %>
          <li>
            <tr>
              <td><%= club.name %></td>
              <td><%= link_to 'Show', club %></td>
            </tr>
          </li>
        <% end %>
  <% end %>
</o>

<p>
  <% if @user.ratings.empty? %>
      <% if @user == current_user %>
          You haven't rated any beers yet!
      <% else %>
          <%= @user.username %> hasn't rated any beers yet!
      <% end %>
  <% else %>
      You have rated <%= pluralize(@user.ratings.size, 'beer') %>, with an average of <%= @user.average_rating %>
  <% end %>
</p>

<p>
  <% @user.ratings.each do |r| %>
      <li>
        <%= r.to_s %> <%
        if @user == current_user %>
            <%= link_to 'delete', r, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </li>
  <% end %>
</p>

<% if @user == current_user %>
  <%= link_to 'Delete', @user, method: :delete, data: { confirm: 'Are you sure?' } %> |
    <%= link_to 'Edit', edit_user_path(@user) %> |
<% end %>

<%= link_to 'Back', users_path %>


